// COLORS
$color-primary: #FF9800;
$color-secondary: #d23336;
$color-tertiary: #0085a6;

$color-filter: #21211f;

$color-grey-light-1: #C4C4C4;

$color-grey-dark-1: #333333;

$color-brows-light-1: #ad936a;

$color-white: #ffffff;
$color-black: #000000;
